<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AshX.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AshX.Properties.Settings>
            <setting name="MainHandle" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="SecondHandle" serializeAs="String">
                <value>(empty)</value>
            </setting>
            <setting name="DelayMs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableMirroring" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableDelay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BlockChat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserBlockedKeys" serializeAs="String">
                <value>(empty)</value>
            </setting>
        </AshX.Properties.Settings>
    </userSettings>
</configuration>